<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/template">
<head>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12 pb-2">
				<a class="btn btn-sm btn-secondary float-right"
					th:href="@{/project/create}"><i class="fas fa-plus mr-1"></i>Create</a>
			</div>
			<div class="col-md-12">
				<table id="dtBasicExample"
					class="table table-sm table-bordered table-hover">
					<thead>
						<tr class="bg-secondary text-white">
							<td scope="col" width="5%" th:text="#{no}"></td>
							<td scope="col" width="15%" th:text="#{projectName}"></td>
							<td scope="col" width="15%" th:text="#{taskName}"></td>
							<td scope="col" width="15%" th:text="#{subTaskName}"></td>
							<td scope="col" width="15%" th:text="#{description}"></td>
							<td scope="col" width="15%" th:text="#{remark}"></td>
							<td scope="col" width="15%" th:text="#{progress}"></td>
							<td scope="col" width="15%" th:text="#{planDate}"></td>
							<td scope="col" width="15%" th:text="#{actualDate}"></td>
							<td class="text-center" scope="col" th:text="#{edit}"></td>
							<td class="text-center" scope="col" th:text="#{delete}"></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="project,iterStat : ${projects}">
							<td class="small text-center" th:text="${iterStat.count}"></td>
							<td class="small"><a
								class="text-decoration-none text-primary"
								th:href="@{/project/__${project.id}__/detail}"
								th:text="${project.projectName}"></a></td>
							<td>
								<div th:each=" task : ${project.tasks}">
									<label class="small" th:text="${task.taskName}"></label>
								</div>
							</td>
							<td>
								<div th:each=" task : ${project.tasks}">
									<div th:each=" subTask : ${task.subTasks}">
										<label class="small" th:text="${subTask.subTaskName}"></label>
									</div>
								</div>
							</td>
							<td class="small" th:text="${project.description}"></td>
							<td class="small" th:text="${project.remark}"></td>
							<td class="small" th:text="${project.progress}"></td>
							<td class="small"
								th:text="${project.planStartDate!=null && project.planEndDate!= null}? ${project.planStartDate +'-'+ project.planEndDate} : ''"></td>
							<td class="small"
								th:text="${project.actualStartDate!=null && project.actualEndDate!= null}? ${project.actualStartDate +'-'+ project.actualEndDate} : ''"></td>
							<td class="small text-center"><a
								class="fas fa-edit text-primary"
								th:href="@{/project/__${project.id}__/edit}"></a></td>
							<td class="small text-center"><a
								class="fas fa-trash-alt text-primary"
								th:href="@{/project/__${project.uuid}__/delete}"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		<script
			src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
		<script
			src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
		<script type="text/javascript"
			th:src="@{/static/js/custom-datatable.js}"></script>
	</th:block>
</body>
</html>